body{
    background: url('../media/simon-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}
h2{
    text-transform: uppercase;
    margin-bottom: 75px;
}
.empty-spacer{
    margin-bottom: 125px;
}
.top-container{
    background-color: rgba(255,255,255,.5);
}
.ul-container{
    margin: 0 auto;
    width: 25%;
}
.credits-section{
    padding-top: 0;
    font: 14px/23px serif;
}
